<div class="student-records">
  <form>
    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search text</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
      </div>
    </div>
  </form>
  <table class="table table-striped record-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Physics</th>
        <th scope="col">Chemistry</th>
        <th scope="col">Maths</th>
        <th scope="col">Computer</th>
      </tr>
    </thead>
    <tbody>
      @for (student of students; track student.name; let i = $index) {
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td><ngb-highlight [result]="student.name" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="student.country" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="student.physics.toString()" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="student.chemistry.toString()" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="student.maths.toString()" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="student.computer.toString()" [term]="filter.value"></ngb-highlight></td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" style="text-align: center">No countries found</td>
        </tr>
      }
    </tbody>
  </table>
</div>